asgiref
astroid
async-timeout
attrs
autobahn
Automat
autopep8
beautifulsoup4
certifi
cffi
channels
channels_redis
charset-normalizer
constantly
contourpy
cryptography
cycler
daphne
Deprecated
dill
Django
django-cors-headers
django-environ
django-filter
django-tenants
djangorestframework
djangorestframework_simplejwt
drf-nested-routers
drf-spectacular
drf-yasg
flake8
fonttools
gunicorn
hyperlink
idna
Incremental
inflection
isort
joblib
jsonschema
jsonschema-specifications
kiwisolver
lazy-object-proxy
matplotlib
mccabe
mlxtend
msgpack
numpy
packaging
pandas
pandas-stubs
pillow
platformdirs
psycopg2-binary
pyasn1
pyasn1_modules
pycodestyle
pycparser
pyflakes
PyJWT
pylint
pyOpenSSL
pyparsing
python-dateutil
pytz
PyYAML
qrcode
redis
referencing
reportlab
requests
rpds-py
scikit-learn
scikit-surprise
scipy
service-identity
six
soupsieve
sqlparse
stripe
threadpoolctl
tomli
tomlkit
Twisted
txaio
types-pytz
typing_extensions
tzdata
uritemplate
urllib3
wget
wrapt
zope.interface
